<a href="https://colab.research.google.com/github/kamit17/Python/blob/Cloud9/PCC_Chp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
 pizza = ['Veggie','Buffalo Chicken','Cheese']
for i in pizza:
  print(i)

In [0]:
for i in pizza:
  print('I like '+ i + 'Pizza.'  )

In [0]:
for i in pizza:
  print('I like '+ i + 'Pizza.'  )
print('I like pizza')

In [0]:
animals = ['Goat','Cow','Horse']
for animal in animals:
  print(animal + ' is Herbivore')

In [0]:
squares = []
for value in range(1,11):
  #square = value**2
  #squares.append(square)
  squares.append(value**2)

print(squares)

In [0]:
digits = []
for digit in range(1,12332):
  #list = []
  #print(digit)
  
  digits.append(digit)
print('The value of list is : ' , digits)
print(min(digits))
print(max(digits))
print(sum(digits))

In [0]:
squares = [value**2 for value in range(1,232)]
print(squares)

In [0]:
list= []
for i in range(1,21):
  #print(i)
  list.append(i)
print(list)

In [0]:
list = []
for i in range(1,1000000):
  list.append(i)
#print(list)
print(min(list))
print(max(list))
print(sum(list))

In [0]:
#4.8 - cube comprehensions
cubes = [i**3 for i in range(1,999,3)]
print(cubes)

In [0]:
#4.6 prints only  odd numbers
for i in range(1,20,2):
  print(i)

In [0]:
#Slicing through lists
players = ['Charles','Martina','Mike','phil','florence']
for player in players[3:]:
  print(player.title())

In [0]:
#Copying a list
my_foods = ['Pizza','falafel','carrot cake']
friend_food = my_foods[:]
print(friend_food)
friend_food.append('ice cream')
my_foods.append('Granola')
print(my_foods)
print(friend_food)

In [0]:
print('The first 3 items in my friends food are ',(friend_food[:3]))

In [0]:
#Writing over a tuple
dimensions = (200,500)
print("original dimensions: ")
for dimension in dimensions:
  print(dimension)

dimensions = (400,100)
print("\nModified dimensions")
for dimension in dimensions:
  print(dimension)

In [0]:
#4.13 Buffet

foods = ('Naan','Chicken 65','Tandoori','Rice','Daal')
print("Original foods")
for food in foods:
  print(food)

foods = ('Naan','Chicken 65','Tandoori','Paneer tikka','Daal')
print('modified foods')
for food in foods:
  print(food)